* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  padding-top: 40px;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
}

table {
  border: 1px solid #333;
  background-color: #ffffcc;
  width: 100%;
}

thead {
  background-color: #444;
  color: #fff;
}

thead tr th {
  background-color: #444 !important;
  color: #fff !important;
  font-weight: bold;
  border: 1px solid #333;
  padding: 10px;
}

tbody tr td {
  background-color: #ffffcc;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
}